# .env.example

# Chave da API do Google para Langchain + Gemini
GOOGLE_API_KEY=coloque_sua_chave_aqui

# Configurações do banco de dados MySQL
DB_USER=seu_usuario_mysql
DB_PASSWORD=sua_senha_mysql
DB_HOST=seu_db_host
DB_PORT=3306
DB_NAME=sua_db_name
